# /etc/systemd/system/psql-backup.timer 

[Unit]
Description=Run PostgreSQL backup periodically

[Timer]
OnCalendar=*-*-* 00:20:00
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
